# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\桌面\项目开发 栏\djangoProjects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
